name: Build and PVS-Studio analysis
on:
  pull_request:
    branches: [main]
jobs:
  build-analyze:
    runs-on: ubuntu-24.04
    permissions: write-all
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install tools
        run: |
          wget -q -O - https://files.pvs-studio.com/etc/pubkey.txt \
            | sudo apt-key add -
          sudo wget -O /etc/apt/sources.list.d/viva64.list \
            https://files.pvs-studio.com/etc/viva64.list
          sudo add-apt-repository ppa:dotnet/backports
          sudo apt update
          sudo apt-get install -y dotnet-sdk-9.0
          sudo apt install pvs-studio
          sudo apt install pvs-studio-dotnet
          pvs-studio-analyzer credentials ${{ secrets.PVS_STUDIO_CREDENTIALS }}
      - name: Build
        run: |
          dotnet build sast-in-ci-example.sln
      - name: Analyze
        run: |
          pvs-studio-dotnet -t sast-in-ci-example.sln -o ./sast-in-ci-example.json -r --disableLicenseExpirationCheck -F
      - name: Convert report
        if: always()
        run: |
          plog-converter sast-in-ci-example.json -t json -n relative -R toRelative -r $PWD
          plog-converter relative.json -t sarif -n pvs-report -r file://
      - name: Publish report
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: pvs-report.sarif
          category: PVS-Studio
      - name: Commit dependency caches
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git commit .pvs-studio -m "PVS-Studio dependency caches"
          git push origin HEAD:$BRANCH_NAME